/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

#map {
    height: 600px;
    margin: 20px;
    border: 2px solid #4CAF50;
}

p, ul {
    margin: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
 